<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static",filename="css/people.css") }}' />
    <title>老师及学生介绍</title>
</head>
<body>
    <header>
        <h1>欢迎来到我们的学校</h1>
    </header>
    <main>
        <section>
            <h2>老师信息</h2>
            <p>
                姓名：王老师<br>
                学科：量子化学<br>
                职位：教授<br>
                联系邮箱：zhang_teacher@example.com
            </p>
        </section>
        <section>
            <h2>学生信息</h2>
            <ul>
                <li>
                    姓名：小明<br>
                    年龄：15岁<br>
                    年级：硕士一年级<br>
                    论文：
                </li>
                <li>
                    姓名：小红<br>
                    年龄：14岁<br>
                    年级：博士一年级<br>
                    论文：
                </li>
                <!-- 添加更多学生信息 -->
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 武汉大学</p>
    </footer>
</body>
</html>
