/*demo.css*/
@import url("public.css");

header {
    background-color: #231C1A;
    height: 80px;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header ul {
    position: absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}

header h1 {
    color:white;
    position: absolute;
    left: 5vw;
    top:0;
    line-height: 80px;
    background-image: url(images/image4.png);
    background-repeat: no-repeat;
    background-position: left center;
}

header p{
    color:aliceblue;

}

p {
    font-family:"Times New Roman";
    font-size:20px;
}


li {
    text-decoration:none;
}

.welcome {
    background-color: antiquewhite;
    color:white;
    height: 85vh;
    background-image: url(images/quantum2.jpg);
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* 列放排布 */
    align-items: center;  /* 水平对齐 */ 
    justify-content: center; /* 垂直对齐 */ 
}

.welcome h2{
    font-size: 60px;
}

.welcome p{
    font-size: 20px;
    color: #fef7fe;
    margin: 5px 0px;
}

.welcome a {
    color:white;
    text-decoration: none;
    border: 1px solid #ACACAC; /* 边框 */
    padding: 10px 20px;  /* 内边距 */
    border-radius: 5px;  /* 边框圆弧 */
}

footer {
    background-color: #231C1A;
    color: #b7b7b7;
    height: 60px;  /* 区域高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
}
