<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>main</title>
    </head>
    <body>
        <h2>实验室最新动态</h2>
        <br>
        <!-- 对传入变量的使用并显示：在双括号内，和python中用法类似 -->
        {{ data }}
        <br>
        {{ data['name'] }}
        <br>
        {{ data.name }}
        <br>
        mylist:{{ data.mylist }}
        <br>
        mylist[1]:{{ data.mylist[1] }}
        <br>
        count:{{ data.mylist[1]+data.mylist[2] }}
        <br>
        {{ data['receivers'] }}
        <a href='{{url_for("template")}}'>返回主页</a>
    </body>
</html>